# Ignore all logfiles and tempfiles
/tmp/
/tags
/.tags

# Environment normalization
/.config
/.env
/.rspec-local
/.yardoc
/_yardoc/
/doc/
/lib/bundler/man/

# Gem packaging stuff
/*.gem
/pkg/

# Dependencies and such
/.bundle
/.ruby-version
/Gemfile.lock

# Spec and coverage housekeeping
/coverage/
/.rspec_status
/spec/reports
